---
import Link from "../components/Link.astro";
import PostCard from "../components/PostCard.astro";
import Layout from "../layouts/Layout.astro";
import { formatPosts } from "../utils";

const allPosts = await Astro.glob("./posts/*.md");
const formattedPosts = formatPosts(allPosts, { limit: 5 });
---

<Layout title="Home" description="My home page">
	<section aria-label="New Posts">
    <div class="grid place-items-center md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-8">
      {
        formattedPosts.map((post: any) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</Layout>
