---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import productive from '../../public/images/logo.svg';
import Link from './Link.astro';
---

<nav aria-label="Primary">
  <div class="flex items-center justify-between border px-8 py-2">
    <a aria-label="Go home" class="logomark" href="/">
      <Image src={productive} alt="Productive Logo" width={48} height={48} />
    </a>
    <ul class="flex space-x-8">
      <li>
        <Link
          classes="flex items-center"
          data-navLink
          href="/"
          icon={{ name: "logomark", side: "right" }}
          style="primary"
          text="Home"
        />
      </li>
      <li>
        <Link
          classes="flex items-center"
          data-navLink
          href="/about"
          icon={{ name: "logomark", side: "right" }}
          style="primary"
          text="About"
        />
      </li>
      <li>
        <Link
          classes="flex items-center"
          data-navLink
          href="/posts"
          icon={{ name: "logomark", side: "right" }}
          style="primary"
          text="Posts"
        />
      </li>
    </ul>
  </div>
</nav>

<script>
  import "../utils/nav.ts";
</script>
