---
import { Icon } from 'astro-icon/components';
import Link from './Link.astro';
---

<nav aria-label="Primary">
  <div class="px-8 py-2 flex items-center justify-between border">
    <a href="/" class="logomark" aria-label="Go home">
      <Icon name="logomark" width={64} height={64} />
    </a>
    <ul class="flex space-x-8">
      <li>
        <Link classes="flex items-center" href="/" text="Home" style="primary" icon={{ name: "logomark", side: "right"}} data-navLink />
      </li>
      <li>
        <Link href="/about" text="About" style="primary" data-navLink />
      </li>
      <li>
        <Link href="/posts" text="Posts" style="primary" data-navLink />
      </li>
    </ul>
  </div>
</nav>

<script>
  import "../utils/nav.ts";
</script>